.container_menu-title {
  color: white;
}

.container_menu-title > h1 {
  padding: 10px 0px;
  font-size: 125px;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
}

.container_menu-title > hr {
  margin: 10px 0px;
}
