<div class="container_quizz">
  <div class="logo_quizz">
    <img src="assets/imgs/logo.png" alt="">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf=!finished class="questions_quizz">
    <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf=!finished class="options_quizz">
    <button *ngFor="let o of questionSelected.options"
    (click) = "playerChoise(o.alias)"
    class="btn-option">
      {{o.name}}
    </button>
  </div>

  <div *ngIf=finished class="results_quizz">
    <h1>O seu resultado é:</h1>
    <p>{{answerSelected}}</p>
  </div>

</div>
